*{
    box-sizing: border-box;
}

h1{
    font-size: 5em;
    margin-left: 8.2em;    
 color: #022a3f;
 font-family: 'Almarai', sans-serif;
}
#imm{
    margin-left: 21em;
}
.about{
    
 color: #022a3f;

 font-family: 'Almarai', sans-serif;
}
#hiba{
    z-index: 2;
    position: relative;
    top: -22em;
    margin-left: 31em;
}
.name{

    font-size: initial;
    color: rgb(92, 8, 8);
    font-weight: bolder;
    
 color: #022a3f;

 font-family: 'Almarai', sans-serif;
}
#dana{
    z-index: 2;
    position: relative;
    top: -17em;
    margin-left: 31em; 
}
#maryam{
    z-index: 2;
    position: relative;
    top: -48em;
    margin-left: 31em;
}
#alaa{
    z-index: 2;
    position: relative;
    top: -31em;
    margin-left: 64em; 
}
.name2{
   /* margin-left: .2em; */
    font-size: initial;
    color: rgb(92, 8, 8);
    font-weight: bolder;
    
 color: #022a3f;

 font-family: 'Almarai', sans-serif;

}
.soc{
    margin-left: 5.1em;
}
#ahmad{
    z-index: 2;
    position: relative;
    top: -50em;
    margin-left: 61em; 
}
.aboutahmad{
    margin-left: 3em;
   color: #022a3f;
     font-family: 'Almarai', sans-serif;
}
.socahmad{
    margin-left: 7.4em;
    margin-top: -1em;
}
#ikrimah{
    z-index: 2;
    position: relative;
    top: -69.5em;
    margin-left: 65em;
}
.name4{
    /* margin-left: 2.9em; */
     font-size: initial;
     color: rgb(92, 8, 8);
     font-weight: bolder;
     
 color: #022a3f;

 font-family: 'Almarai', sans-serif;

 }
 .name3{
    margin-left: 2.9em;
    /* margin-left: .2em; */
     font-size: initial;
     color: rgb(92, 8, 8);
     font-weight: bolder;
     
 color: #022a3f;

 font-family: 'Almarai', sans-serif;

 }
 .sock{
    margin-left: 3.5em;
}
#yahia{
    z-index: 2;
    position: relative;
    top: -57.5em;
    margin-left: 51em;
}
.socyahia{
    margin-left: .5em;
}
.aboutyahia{
    margin-left: -1em;
    
 color: #022a3f;

 font-family: 'Almarai', sans-serif;
}
.namey{
   
     font-size: initial;
     color: rgb(92, 8, 8);
     font-weight: bolder;
     color: #022a3f;
     font-family: 'Almarai', sans-serif;
 }

a{
    /* position: fixed; */
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: #3F7491;
  
  
    padding-top:15%  ;
    text-align: center;
  }



  footer{
    position: relative;
    bottom: 800px;
    
    }
