
#imageContainer {

 width: 20%;
 float: right;
 text-align: right;
 margin-right: 2%;
 margin-top: 16px;
}

#imageContainer article{
  height: 9em;
}

img{

  width: 90%;
  margin: 5%;
  height: 90%;
}



#detailsContainer{
  position: fixed;
  float: left;
  width: 55%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
}

#detailsContainer article{
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}



h2 {
  color:#807567 ;
  text-align: center;
  width: 100%;
  margin-top: 4%;
  font-family: 'Chelsea Market', cursive;


}

video {
  /* text-align: center; */
  width: 100%;
  margin-top: 3%;
}

p{
  color: #3F7491;
  text-align: justify;
  width: 90%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;

  line-height: 1.5em;
  font-size: 0.9em;
}


.button{
  display: inline;
  float: right;
  margin-top: 2%;
  background-color: rgba(102, 0, 0, 0.89);
  color: #CCAB81;
}
  
.button:hover{
  color:white;
  -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        color:white;
}







