@import url("https://fonts.googleapis.com/css?family=Josefin+Sans%7CMountains+of+Christmas&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
.wall .jordan-flag{
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, red 0% , black 25%, green 25%, white 50%, red 50%, black 75%, #494949 75%, red 100%);
}
#cart {
    width: 40px;
    height: 40px;
}
.wall .top_nav{
  
  margin-top: 5px;
  width: 100%;
  height: 65px;
  background: #fff;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wall .top_nav .left{
  display: flex;
  align-items: center;
}
.wall .top_nav .left .logo p{
  font-size: 24px;
  font-weight: bold;
  color: black;
  font-family: "Mountains of Christmas", cursive;
  margin-right: 25px;
}
.wall .top_nav .left .logo p span{
  color: red;
  font-family: "Mountains of Christmas", cursive;
}
.wall .top_nav .right ul{
  display: flex;
}
.wall .top_nav .right ul li{
  margin: 0 12px;
}
.wall .top_nav .right ul li:last-child{
  background:  #37A000;
  margin-right: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.wall .top_nav .right ul li a{
  display: block;
  padding: 8px 10px;
  color: #666666;
}
.wall .top_nav .right ul li img {
    width: 48px;
    height: 45px;
    margin: -5px
}
.wall .bottom_nav{
  float: right;
  width: 100%;
  background: #F9F9F9;
  height: 45px;
  padding: 0 50px;
}

.wall .bottom_nav ul{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wall .bottom_nav ul li a{
  color: #494949;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}
.wall div .background{
  width: 100%;
  height: 400px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
