 div section{
    position: relative;
     margin-top: 4em;
     height: 14em;
 }
 
 img{
     float: left;
     width: 30%;
     margin-left: 2%;
     height: 14em;;
     /* display: block; */

 }

 h2{
     /* display: inline-block; */
     float: left;
     width: 30%;
     margin-left: 3%;
 }


  section p{
      overflow:scroll;
      height:11em ;
      margin-left: 3%;
      margin-right: 3%;
      width: 30%;
      display: inline-block;

      text-align: justify;
      line-height: 1.5em;
      font-size: 0.9em;
      /* margin: 0; */
      /* float: right; */
     /* margin-right: 15%; */
 }

 button{
    /* display: inline-block; */

    position: absolute;
    bottom: 0;
    left: 55%;
    width: 10%;
    height: 2em;
    /* font-size: 18px; */
}

 iframe , video{
    float: right;
    width: 30%;
    height:14em;
    margin-right: 2%;
 }


