 *{
     box-sizing: border-box;
 }
#add{
   position: fixed;
   /* display: block; */
/* position: static; */
 right: 40px;
 top: 50px;
 
}

img{
   display: block;
   width: 500px;
   height: 500px;
   margin: 0;
   /* padding: 0; */
}
p{
   display: block;
   margin: 0;
   /* padding: 0; */
}
#frame { position:relative;
    top:10px;
     bottom:0px;
      left:500px;
   width: 500px; 
   height:100%;
    
  
    }
